@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter';
}

.dark{
    margin: 0 auto;
    max-width: 500px;
    margin-top: 193px;
}

.dark__div{
    padding: 32px 24px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    background: #FFF;
 
}

.dark__form{
    width: 100%;
    max-width: 100%;
}

.dark__title{
    color: #1C1C1C;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}

.dark__text{
    display: block;
    color: #585757;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    margin-top: 16px;
}

.dark__inp{
    width: 430px;
    max-width: 100%;
    padding: 8px 0px 8px 12px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    background: #FFF;
    margin-top: 8px;
    outline: none;
}

.dark__password{
    width: 430px;
    max-width: 100%;
    padding: 8px 0px 8px 12px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    background: #FFF;
    margin-top: 8px;
    outline: none;
}

.dark__btn{
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    background: #1C1C1C;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    padding: 8px 12px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.dark__svg path{
    width: 100%;
    max-width: 100%;
    stroke-width: 1px;
    stroke: #E8E8E8;
 
}

.dark__word{
    text-align: center;
}

.dark__wrapper{
 
    color: #585757;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}

.dark__link{
    padding: 8px 12px;
    background: none;
    border: none;
    color: #0085FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
    margin-top: 8px;
    text-decoration: none;
}